:root {
  --dark: #8a2387;
  --medium: #e94057;
  --light: #f27121;
  --black: #323232;
  --white: #eff0f4;
  --spacing: 1.5rem;
  --shadow: 0 10px 20px rgba(0, 0, 0, 0.24);
  --radius: 0.25rem;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  position: relative;
  background-color: var(--white);
  color: #323232;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.dark {
  background-color: #242424;
  color: var(--white);
}

/* BASIC ELEMENTS */

h1,
h2,
h3,
h4,
p,
ul,
ol,
blockquote {
  margin-top: var(--spacing);
  line-height: 1.5em;
}

h1 {
  font-size: 2rem;
}

ul,
ol {
  padding-left: calc(var(--spacing) * 2);
}

img {
  display: block;
}

a {
  color: var(--light);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button,
a.button, input[type='submit'] {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: var(--light);
  color: white;
  border: none;
  border-radius: var(--radius);
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  text-transform: uppercase;
}

sup,
sub {
  font-size: 0.75rem;
  line-height: 0;
}

blockquote {
  padding: 2.5rem;
  background-color: var(--light);
  color: var(--white);
  font-size: 1.25rem;
  font-style: italic;
}

/* LAYOUT */

.grid {
  display: grid;
  gap: var(--spacing);
}

.auto-grid {
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
}

section > div {
  max-width: 1100px;
  margin-inline: auto;
}

@media screen and (min-width: 769px) {
  .grid {
    gap: calc(var(--spacing) * 2);
  }
  .auto-col {
    grid-auto-flow: column;
  }
}

/* UTILITIES */

.clamp {
  --max-lines: 4;
  --line-height: 1.4;
  max-height: calc(var(--max-lines) * 1em * var(--line-height));
  line-height: var(--line-height);
  overflow: hidden;
}

/* HACK */

header li, header i { color: white;}